body {
	margin: 0;
}
.workDir {
	width: 1920px;
	outline: 70px solid grey;
	margin: 70px auto;
}
.header {
	height: 397px;
}
.headerMenu {
	margin-top: 52px;
	margin-left: 598px;
	width: 692px;
	height: 10px;
	text-align: left;
	justify-content: space-between;
	display: inline-flex;
}
.headerMenu a {
	font-family: Ubuntu;
	font-size: 15px;
	font-weight: 500;
	line-height: 2.13;
	text-decoration: none;
	color: #9ba7b4;
}
.headerInformation {
	margin-top: 147px;
	margin-left: 411px;
}
.headerInformationPhone {
	float: left;
	width: 231px;
	font-family: Ubuntu;
	font-size: 28.5px;
	font-weight: 500;
	color: #8fc74a;
}
.headerInformationName {
	float: left;
	margin-left: 166px;
	width: 304px;
	text-align: center;
	color: #9ba7b4;
}
.headerInformationNameEmail {
	font-family: Ubuntu;
	font-size: 42px;
	font-weight: 500;
	line-height: 0.82;
	letter-spacing: 4.2px;
}
.headerInformationNameImg {
	margin-top: 5px;
	margin-left: 120px;
	width: 71px;
	height: 7px;
}
.headerInformationNameText {
	margin-top: 16px;
	font-family: MyriadPro;
	font-size: 16px;
	font-weight: bold;
	line-height: 1.09;
	letter-spacing: 4.5px;
	text-align: center;
}
.headerInformationQuestion {
	float: left;
	margin-left: 226px;
	width: 125px;
	height: 14px;
	font-family: PTSans;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.29;
	text-align: left;
	color: #8fc74a;
	padding: 12px 36px 10px 35px;
 	border: solid 1px #8fc74a;
 	border-radius: 25px;
}
.contentBigHouse {
	height: 569px;
}
.contentBigHouseLeft {
	float: left;
	margin-left: -70px;
}
.contentBigHouseCenter {
	float: left;
	margin-left: 194px;
	position: relative;
}	
.contentBigHouseCenterTitle {
	position: absolute;
	top: 350px;
	left: 245px;
	width: 416px;
	height: 44px;
	mix-blend-mode: undefined;
	font-family: Ubuntu;
	font-size: 60px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
}
.contentBigHouseCenterButton {
	position: absolute;
	top: 442px;
	left: 386px;
	mix-blend-mode: undefined;
	font-family: PTSans-Caption;
	font-size: 38.5px;
	font-weight: bold;
	line-height: 1.27;
	text-align: left;
	color: #ffffff;
	padding: 15px 51px 15px 55px;
	border: solid 2px #ffffff;
	border-radius: 50px;
}
.contentBigHouseRight {
	float: right;
	margin-right: -70px;
}
.contentShadow {
	margin-top: 21px;
	margin-left: 580px;
	width: 712px;
	height: 48px;
}
.contentArrows {
	margin-top: 15px;
	margin-left: 898px;
	width: 129px;
	height: 15px;
}
.contentArrowsLeft {
	float: left;
	font-family: Arial;
	font-size: 42px;
	line-height: 0.43;
	text-align: left;
	color: #000000;
}
.contentArrowsRight {
	float: right;
	font-family: Arial;
	font-size: 42px;
	line-height: 0.43;
	text-align: right;
	color: #000000;
}
.contentHouseTypes {
	margin-top: 135px;
}
.contentHouseTypesLL {
	float: left;
	margin-left: 435px;
	margin-top: 17px;
}
.contentHouseTypesName {
	float: left;
	margin-left: 43px;
	height: 37px;
	font-family: Ubuntu;
	font-size: 50px;
	font-weight: 300;
	line-height: 0.6;	
	color: #000000;
}
.contentHouseTypesLR {
	float: left;
	margin-left: 56px;
	margin-top: 17px;
}
.contentHouseDescr {
	clear: both;
	display: block;
	float: left;
	margin-top: 79px;
	height: 517px;
}
.contentHouseDescrAspen {
	float: left;
	margin-left: 330px;
	width: 274px;
}
.contentHouseDescrAspenPic {
	margin-top: 2px;
	margin-left: 50px;
	width: 192px;
}
.contentHouseDescrAspenName {
	margin-top: 48px;
	margin-left: 80px;
	width: 118px;
	font-family: Ubuntu;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	color: #000000;
}
.contentHouseDescrAspenAbout {
	margin-top: 32px;
	height: 127px;
	font-family: Ubuntu;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.75;
	text-align: center;
	color: #747474;
}
.contentHouseDescrHeaven {
	float: left;
	margin-left: 64px;
	width: 266px;
}
.contentHouseDescrHeavenPic {
	margin-left: 39px;
	width: 193px;
}
.contentHouseDescrHeavenName {
	margin-top: 37px;
	margin-left: 59px;
	width: 143px;
	font-family: Ubuntu;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	color: #000000;
}
.contentHouseDescrHeavenAbout {
	margin-top: 33px;
	height: 127px;
	font-family: Ubuntu;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.75;
	text-align: center;
	color: #747474;
}
.contentHouseDescrVeil {
	float: left;
	margin-left: 61px;
	width: 266px;
}
.contentHouseDescrVeilPic {
	margin-top: 2px;
	margin-left: 34px;
	width: 204px;
}
.contentHouseDescrVeilName {
	margin-top: 49px;
	margin-left: 95px;
	width: 77px;
	font-family: Ubuntu;
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	color: #000000;
}
.contentHouseDescrVeilAbout {
	margin-top: 33px;
	height: 127px;
	font-family: Ubuntu;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.75;
	text-align: center;
	color: #747474;
}
.contentHouseDescrTower {
	float: left;
	margin-left: 61px;
	width: 274px;
}
.contentHouseDescrTowerPic {
	margin-top: -46px;
	margin-left: 40px;
	width: 198px;
}
.contentHouseDescrTowerName {
	margin-top: 48px;
	margin-left: 71px;
	width: 135px;
	font-family: Ubuntu;	
	font-size: 40px;
	font-weight: 300;
	text-align: center;
	color: #000000;
}
.contentHouseDescrTowerAbout {
	margin-top: 32px;
	height: 127px;
	font-family: Ubuntu;
	font-size: 16px;
	font-weight: 300;
	line-height: 1.75;
	text-align: center;
	color: #747474;
}
.contentAbout {
	clear: both;
	display: block;
	background: url(../images/Layer_About.png);
    background-size: cover;
    height: 575px;
}
.contentAboutWD {
	float: left;
	margin-top: 84px;
	margin-left: 375px;
	width: 1170px;
	height: 415px;
	border: solid 10px #ffffff;
}
.contentAboutWDName {
	margin-top: 71px;
	margin-left: 492px;
	width: 163px;
	height: 37px;
	font-family: Ubuntu;
	font-size: 50px;
	font-weight: 300;
	line-height: 0.6;
	text-align: right;
	color: #ffffff;
}
.contentAboutWDText {
	margin-top: 50px;
	margin-left: 87px;
	width: 964px;
	height: 110px;
	font-family: Ubuntu;
	font-size: 20px;
	line-height: 1.5;
	text-align: center;
	color: #ffffff;
}
.contentAboutWDButton {
	margin-top: 62px;
	margin-left: 464px;
	padding: 16px 40px 20px 44px;
	width: 193px;
	height: 15px;
	font-family: PTSans;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.28;
	text-align: left;
	color: #ffffff;
 	border: solid 1px #ffffff;
 	border-radius: 30px;
}
.contentNews {
	height: 574px;
	background: #d7dde3;
}
.contentNewsTitlte {
	padding-top: 106px;
}
.contentNewsTitlteLL {
	float: left;
	margin-left: 435px;
	margin-top: 15px;
	opacity: 0.54;
}
.contentNewsTitlteName {
	float: left;
	margin-left: 158px;
	height: 32px;
	font-family: Ubuntu;
	font-size: 44px;
	font-weight: 300;
	text-align: left;
	color: #000000;
}
.contentNewsTitlteLR {
	float: left;
	margin-left: 174px;
	margin-top: 15px;
	opacity: 0.54;
}
.contentNewsImg {
	margin-top: 66px;
	margin-left: 376px;
	height: 254px;
	width: 1300px;
}
.contentNewsImgL {
	float: left;
	position: relative;
}
.contentNewsImgM {
	float: left;
	margin-left: 67px;
	position: relative;
}
.contentNewsImgR {
	float: left;
	margin-left: 65px;
	position: relative;
}
.contentNewsImgDate {
	position: absolute;
	top: 12px;
	left: 18px;
	background: white;
	width: 61px;
	height: 77px;
}
.contentNewsImgDateText1 {
	margin-top: 13px;
	font-weight: bold;
	padding-bottom: 0;
	font-family: PTSans-Caption;
	color: #9ba7b4;
	font-size: 28.5px;
	line-height: 1.15;
	text-align: center;
}
.contentNewsImgDateText2 {
	padding-top: 0;
	font-weight: bold;
	font-family: PTSans-Caption;
	color: #9ba7b4;
	font-size: 13px;
	line-height: 1.15;
	text-align: center;
}
.contentNewsImgTitle {
	position: absolute;
	bottom: 32px;
	left: 21px;
	width: 310px;
	height: 51px;
	font-family: Ubuntu;
	font-size: 22px;
	font-weight: 300;
	line-height: 1.36;
	text-align: left;
	color: #6e7b82;
}
.contentGallery {
	height: 894px;
}
.contentGalleryTitle {
	margin-top: 110px;
}
.contentGalleryTitleLL {
	float: left;
	margin-left: 435px;
	margin-top: 20px;
	background: #d7dde3;
}
.contentGalleryTitleName {
	float: left;
	margin-left: 117px;
	height: 37px;
	font-family: Ubuntu;
	font-size: 50px;
	font-weight: 300;
	text-align: center;
	color: #000000;
}
.contentGalleryTitleLR {
	float: left;
	margin-left: 130px;
	margin-top: 20px;
}
.contentGalleryImg {
	float: left;
	margin-top: 73px;
	margin-left: 374px;
	height: 581px; 
	width: 1177px;
}
.contentGalleryImgL {
	float: left;
	position: relative;
}
.contentGalleryImgRH {
	float: right;
	position: relative;
}
.contentGalleryImgRL {
	float: right;
	margin-top: 7px;
	position: relative;
}
.contentGalleryImgDate {
	position: absolute;
	top: 45px;
	left: 53px;
	width: 110px;
}
.contentGalleryImgDateDay {
	float: left;
	width: 54px;
	font-family: Ubuntu;
	font-size: 50px;
	font-weight: bold;
	line-height: 0.75;
	text-align: right;
	color: #ffffff;
}
.contentGalleryImgDateMnth {
	float: right;
	width: 49px;
	height: 36px;
	font-family: Ubuntu;
	font-size: 21.5px;
	font-weight: bold;
	line-height: 0.95;
	text-align: left;
	color: #ffffff;
}
.footer {
	height: 143px;
	background: #d7dde3;
}
.footerShare {
	float: left;
	margin-top: 69px;
	margin-left: 373px;
	width: 91px;
	height: 28px;
	font-family: PTSans;
	font-size: 14px;
	line-height: 1.29;
	text-align: left;
	color: #868e91;
}
.footerIcons {
	float: left;
	margin-top: 74px;
	margin-left: 16px;
	height: 39px;
	opacity: 0.54;
	width: 157px;
	justify-content: space-between;
	display: inline-flex;
	font-size: 25px;
}
.footerAmp {
	float: right;
	margin-top: 79px;
	margin-right: 374px;
	width: 193px;
	mix-blend-mode: undefined;
	font-family: PTSans;
	font-size: 18px;
	text-align: right;
	color: #868e91;
}